html {
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Roboto',sans-serif;
}
h1, h2, h3, h4, h5, h6,p { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }


img{
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }


.app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #53f441;
  &__title{
    margin-bottom: 40px;
  }
}

.container{
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.form{
  border: 1px solid #000;
  padding : 20px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-control{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  &__label{
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__input{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid #000;
    transition: .3s;
    &:focus{
      border-color: #f4414f;
    }
  }
  &__btn{
    display: block;
    padding: 10px;
    width: 40%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    &:hover{
      border: 1px solid #f4414f;
      background-color: #f4414f;
      color: #fff;
    }
  }
}